@{
    ViewData["Title"] = "Reservations";
}
<h1>@ViewData["Reservations"]</h1>

<div class="text-center">
    <h1 >Thank you for Reserving with Sympo!</h1>
    <img src="https://previews.123rf.com/images/roxanabalint/roxanabalint1405/roxanabalint140500415/28609786-book-now-grunge-rubber-stamp-on-white-vector-illustration.jpg" style="height:300px;width:700px;" />
    <hr>
    <h4 >You are just seconds away from reserving your next gathering and moving on with your life!!  We know you are busy and we are here to make things
        just a little easier! Granted, we are not doing your laundry, but we can help get that meeting out of the way!  Just click on the buttons below and they will guide you
        through the rest of the reservation process!!  Thank you for booking with SYMPO!
    </h4>
    <p> 
        <hr>
        <div class="bg-info" id="message"></div>

        <form onsubmit="return processForm();" action="/" method="POST">
        <p class="font-weight-bold">Please choose a reservation date: 
        <input type="date" id="date" data-format="DD-MM-YYYY" data-template="D MMM YYYY" name="date" value="" placeholder="enter date">
        <p class="font-weight-bold">Please choose the room you would like to reserve on that date:</p>
            <div class="dropdown">
            <select onChange="changeRoomImage();" name="room" id="room">
                <option value="-1">-- Please choose --</option>
                <option value="0">The Lake View Room</option>
                <option value="1">The Zen Gardens</option>
                <option value="2">Bellatory Room</option>
                <option value="3">The Rose Room</option>
                <option value="4">Ten Thousand Waves Room</option>
                <option value="5">The Marvel Universe Room</option>
                <option value="6">The Mickey Mouse Clubhouse Room</option>
            </select>                                              
            <button class="btn btn-primary">Go!</button>
          </div>
          <img src="" style="display:none;width:900px;height:400px;" id="roomImage" />
        </form>        

<script>

var imageArr = [];
imageArr.push('https://i.pinimg.com/originals/ba/0c/8f/ba0c8f5a4e7a5d6ad17d830ed1c6ba72.jpg');
imageArr.push('https://images.meetingsbooker.com/images/venues/londonmarriotthotelcanarywharf-0.jpg');
imageArr.push('https://i.pinimg.com/originals/77/de/76/77de764e981c0efba28de6c20c242523.jpg');
imageArr.push('https://assets.hyatt.com/content/dam/hyatt/hyattdam/images/2015/03/30/1631/Hyatt-Ziva-Rose-Hall-P065-St-Andrews.jpg');
imageArr.push('https://www.ribbyhall.co.uk/uploads/images/header-spa/zen-garden-header.jpg');
imageArr.push('https://i.pinimg.com/originals/d4/a0/fe/d4a0fe1a15792062c73da80d60ca6aff.png');
imageArr.push('https://images.meetingsbooker.com/images/venues/londonmarriotthotelcanarywharf-0.jpg');

function changeRoomImage(){
    var roomimage = document.getElementById('roomImage');
    var currentRoom = parseInt(document.getElementById('room').value);
    if (currentRoom == -1){
        roomimage.style.display='none';
    } else {
        roomimage.style.display='inline';
    }
    roomImage.src = imageArr[currentRoom];
}

function processForm(){
    var form = document.getElementById('room');
    var bookingDate = document.getElementById('date');
    if (bookingDate.value == ''){
        alert('you must enter a booking date!');
        bookingDate.focus();
        return false;
    }
    if (form.value == '' || form.value == -1){
        alert('you MUST select a room to continue!');
        form.focus();
        return false;
    }
    var msg = document.getElementById('message');
    var currentRoom = document.getElementById('room').options[document.getElementById('room').selectedIndex].text;
    //msg.innerHTML = 'Thank you for your business, your order has been processed!';
    alert('Thank you booking the ' + currentRoom +  ' room, your order has been processed!');
}
</script></p>        
        